@import "layout.css";

.header {
	left: 0vh;
}

.preview-container {
	max-width: 600px;
	width: 100%;
	padding-top: 6/4;
	margin: auto;
	position: relative;
}

#video-element {
	width: 100%;
	height: auto;
	background-color: #666;
}

#preview-canvas {
	z-index: 1;
	width: 100%;
	height: auto;
	position: absolute;
	top: 0px;
	left: 0px;
}

[id$='-filter'] {
	width: 100%;
	height: auto;
	z-index: 2;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}

#canvas {
	width: 600px;
	height: 400px;
	display: none;
}

.filter-container {
	background: white;
	max-width: 600px;
	width: auto;
	height: 120px;
	margin: auto;
	overflow-x: auto;
	overflow-y: hidden;
}

#filter-tn-row {
	height: 100%;
	display: flex;
}

.filter-tn {
	padding: 0.1rem;
}

label img {
	height: 100px;
	width: 150px;
	background: var(--highlight2);
}

:disabled+label img {
	filter: grayscale(100%);
}
  
:checked+label img {
	background: var(--highlight1);
}
  
input[type="checkbox"] {
	display: none;
}

#take-photo-icon {
	height: 100%;
	width: auto;
}

#refresh-icon {
	height: 100%;
	width: auto;
	display: none;
}

@media screen and (max-width: 600px) {
	.header {
		display: none;
	}
}
