@import "layout.css";

.preview-container {
	max-width: 600px;
	width: 100%;
	margin: auto;
	position: relative;
}

#video-element {
	width: 100%;
	height: auto;
	background-color: #666;
}

#preview-canvas {
	z-index: 1;
	width: 100%;
	height: auto;
	position: absolute;
	top: 0px;
	left: 0px;
}

[id$='-filter'] {
	width: 100%;
	height: auto;
	z-index: 2;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}

#canvas {
	width: 600px;
	height: 400px;
	display: none;
}

.filter-container {
	background: lightgrey;
	max-width: 600px;
	width: auto;
	height: 110px;
	margin: auto;
	overflow-x: auto;
	overflow-y: hidden;
}

#filter-tn-row {
	height: 100%;
	display: flex;
}

.filter-tn {
	padding: 0.1rem;
}

label img {
	height: 90px;
	width: 135px;
	background: white;
}

:disabled+label img {
	filter: grayscale(100%);
}
  
:checked+label img {
	background: var(--highlight1);
}
  
input[type="checkbox"] {
	display: none;
}

#take-photo-button {
	height: 100%;
	width: auto;
}

#refresh-button {
	height: 100%;
	width: auto;
	display: none;
}

.lens-container {
	width: 4rem;
	height: 4rem;	
	position: absolute;
	bottom: 0.1rem;
	left: 45%;
	z-index: 3;
}

.circle-container {
	padding: 1rem;
}

.grid-container {
	display: grid;
	grid-gap: 0.5rem;
	width: 100%;
	grid-template-columns: auto auto auto;
	margin-top: 1rem;
}

.grid-item {
	width: 100%;
}

.grid-image {
	width: 100%;
	height: auto;
}

#save-form {
	display: none;
}

#upload-button {
	width: 100%;
}

@media screen and (max-width: 600px) {
	.circle-container {
		display: block;
	}

	.lens-container {
		width: 16vw;
		height: 16vw;
		left: 40vw;
	}
	
	.grid-container {
		grid-template-columns: auto auto;
	}

}
