@import "layout.css";

.photo-container {
	width: 90%;
	margin: auto;
	padding-bottom: 1rem;
}

.header {
	left: 75%;
	font-size: 1.5rem;
}

#register {
	text-decoration: underline;
	background: var(--footer-bg);
	color: black;
	padding: 1rem;
}

.stream-img {
	width: 100%;
	height: auto;
	padding: 1.5rem 0 1rem 0;
}

.like-icon {
	height: 1.2rem;
	width: auto;
	margin: 0rem;
}

#add {
	width: 100%;
}

input[type=image] {
	height: 1.2rem;
}

@media screen and (max-width: 600px) {	
	.header {
		font-size: 1em;
		display: block;
		padding-right: 2rem;
		text-align: right;
	}

	.photo-container {
		width: 100%;
	}
}
