:root {
	--body-bg: #600473;
	--footer-bg: #fa625f;
	--main-bg: #fbf579;
	--highlight1: #005995;
	--highlight2: #00a0a0;
}

* {
	box-sizing: border-box;
}

body {
	background: var(--body-bg);
}

h1 {
	text-align: center;
	font-size: 8rem;
}

h2 {
	text-align: center;
	font-size: 3rem;
}

.header {
	width: 15%;
	height: 6vh;
	padding: 1rem;
	position: fixed;
    left: 0vh;
    top: 0vh;
	z-index: 3;
}

.main-container {
	background: var(--main-bg);
	position: relative;
	max-width: 650px;
	width: 100%;
	height: 100vh;
	margin: auto;
	display: block;
	overflow-y: scroll;
	scrollbar-width: none;
}

.main-container::-webkit-scrollbar {
	display: none;
}

.footer {
	background: var(--footer-bg);
	color: black;
	width: 8%;
	height: 15%;
	position: fixed;
	right: 0vh;
	bottom: 0vh;
	z-index: 1;
	padding: 1rem 0rem;
	text-align: center;
}

.mobile-footer {
	background: var(--footer-bg);
	color: black;
	position: fixed;
	right: 0vh;
	bottom: 0vh;
	z-index: 1;
	padding: 1rem 0rem;
	text-align: center;
	display: none;
	width: 100%;
	height: 10vh;
	align-content: center;
}

.footer-img {
	position: relative;
	height: 50%;
	width: 100%;
}

.mobile-footer-img {
	width: 33.3%;
	height: 100%;
	float: left;
}

[id$='-icon'] {
	position: relative;
	max-height: 48px;
	height: 100%;
	width: auto;
}

.left-bottom-corner {
	width: 4rem;
	height: 4rem;	
	position: fixed;
	left: 1rem;
	bottom: 2rem;
	z-index: 1;
}

.circle-container {
	background: var(--footer-bg);
	color: black;
	position: relative;
	top: 0px;
	width: 100%;
	height: 100%;	
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	vertical-align: center;
	padding: 1rem;
}

.form-container {
	width: 80%;
	margin: auto;
	padding: 0.5rem;
}

input {
	padding: 0.5rem;
	margin: 0.5rem 0rem;
}

input[type=password], input[type=text], input[type=email] {
	width: 100%;
}

input[type=image] {
	padding: 0rem;
	margin: 0rem;
}

.comment-form-container input[type=text] {
	width: 88%;
}

.comment-form-container input[type=submit] {
	width: 10%;
	float: right;
}

.trash-icon {
	height: 2em;
	width: auto;
	float: right;
}

.delete-image-form-container {
	float: right;
	height: 2em;
	width: 2em;
}

.grid-container {
	display: grid;
	grid-gap: 0.5rem;
	width: 90%;
	grid-template-columns: auto auto auto;
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.grid-item {
	width: 100%;
}

.grid-image {
	width: 100%;
	height: auto;
}

@media screen and (max-width: 600px) {
	.main-container {
		width: 100%;
		height: 90vh;
		left: 0px;
		right: 0px;
		border-radius: 0px;
	}

	.header {
		display: none;
	}

	.circle-container, .footer {
		display: none;
	}

	.mobile-footer {
		display: block;
	}

	h1 {
		font-size: 20vw;
	}

	.grid-container {
		grid-template-columns: auto auto;
	}

}

@media screen and (max-height: 500px) {
	body {
		font-size: 4vh;
	}

	#register {
		text-decoration: underline;
		background: var(--footer-bg);
		color: black;
	}

	.footer {
		height: 30%;
	}
}